<?xml version="1.0"?>


<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="TSN_Base::all"
             title="TSN-Media"
             translate="title"
             module="TSN_Base"
             sortOrder="20"
             resource="TSN_Base::all"/>
    </menu>
</config>