<?xml version="1.0"?>
<!--
/**
 * @author TSN-Media Team
 * @copyright Copyright (c) 2018 TSN-Media (https://tsn-media.com)
 * @package TSN_Base
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="tsn_base" translate="label" sortOrder="999999" class="tsn-tab">
            <label>TSN-Media Extensions</label>
        </tab>
        <section id="tsn_info" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label><![CDATA[Info]]></label>
            <tab>tsn_base</tab>
            <resource>TSN_Base::config</resource>
            <group id="information" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General Information</label>
                <frontend_model>TSN\Base\Block\Info</frontend_model>
            </group>
        </section>
    </system>
</config>
